{{#partial "title" }}
    HERO SQUAD
{{/partial}}


{{#partial "content"}}

    <h1>Our hero squad was successfully created</h1>
    <p>Dear {{ recipient }},</p>
    <p>Feel free to make changes or new hero squads! </p>
    <p>{{ recipient }}, Hope you found the experience fun</p>
      <p>Looking forward to seeing you soon. I'll bring you back a souvenir. </p>
    <p>Cheers,</p>
    <p>Our Hero {{ sender }}</p>

{{/partial}}

{{> layout.hbs}}