
{{#partial "content"}}

    <div class="container-fluid">
        <div class="main-pg">
            <br> <br>
            <div class="fig-img container">
                <div class="row">
                    <div class="col-md-6">
                        <div class="dig-box mb-3">
                            <h1 class="title text-center text-warning">
                                 SuperHeroes
                            </h1>
                            <p class="text-center text-white">
                                "We all know the truth: But in times of crisis, the wise build bridges, while the foolish build barriers."
                            </p>
                        </div>
                    </div>
                </div>

                    <div class="col-md-6 submit">
                        <h1 class="text-warning text-center super">Create now!</h1>
                                                <div class="row">
                            <div class="col-md-6">
                                <a href="/Hero-form">
                                    <button class="btn btn-primary">Hero</button>
                                </a>
                            </div>
                            <div class="col-md-6">
                                <a href="/Squad-form">
                                    <button class="btn btn-primary">Squad</button>
                                </a>
                            </div>
                        </div> <br>
                    </div>
                </div>
            </div>
        </div>


{{/partial}}



{{> layout.hbs}}
